@font-face {
    font-family: DeValencia;
    src: url(../../vendor/font/De\ Valencia\ \(beta\).otf);
}

h1 {
    font-family: DeValencia;
    font-size: 11rem;
    position: relative;
    bottom: 10rem;
    right: 38rem
}
 p {
    color: #7f7f7f;
    font-family: DeValencia;
    position: relative;
    bottom: 10rem;
    right: 41rem;
    font-size: 3rem;
 }

 .tec-parag {
    color: #534f4f;
    font-family: DeValencia;
    position: relative;
    bottom: 7rem;
    right: 38.9rem;
    font-size: 2rem;
 }