@font-face {
    font-family: DeValencia;
    src: url(../../vendor/font/De\ Valencia\ \(beta\).otf);
}

.navbar {
    font-family: DeValencia;
    background-color: #161616;
}

.navbar a {
    color: white;
}