@font-face {
    font-family: DeValencia;
    src: url(../../vendor/font/De\ Valencia\ \(beta\).otf);
}

.navbar {
    font-family: DeValencia;
    background-color: #161616;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 18rem;
}


li {
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 24rem;
    list-style-type: none;
}

li::after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

li:hover::after {
    width: 100%;
    background-color: #534f4f;
}

